@model MentorsASPCore.Models.DTO.MentorTecnologiesDTO

@{
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <title>
        @Model.Mentor.Name @Model.Mentor.Surname
    </title>
</head>
<body>
    <form method="post">
        <input type="hidden" value="@ViewBag.MentorId" name="Id" />

        <p>Name: <input type="text" value=@Model.Mentor.Name name="Name"/></p>

        <p>Surname: <input type="text" value=@Model.Mentor.Surname name="Surname"/></p>

        <p>Age: <input type="text" value=@Model.Mentor.Age name="Age"/></p>

        <p>Place of work: <input type="text" value=@Model.Mentor.PlaceOfWork name="PlaceOfWork"/></p>

        <p>Max student count: <input type="text" value=@Model.Mentor.MaxStudentCount name="MaxStudentCount"/></p>
                          
                
        @foreach (var t in Model.AllTecnologies)
        {
            @t.Name 

            @if (Model.MentorsTecnologies.Contains(t))
            {
                @*@Html.CheckBox(t.Id.ToString(), true);*@
                <input type="checkbox" name="@t.Id" value="@t.Name" checked />
            }
            else
            {
                @*@Html.CheckBox(t.Id.ToString(), false)*@
                <input type="checkbox" name="@t.Id " value="@t.Name" />

            }



        }

        <p><input type="submit" name="Submmit" />
    </form>



</body>
</html>