@model MentorsASPCore.Models.View.StudentView
@{
    Layout = null;
}

<!Doctype html>
<html>
<head>
    <title>
        @Model.Student.Name
    </title>
</head>
<body>
    <p>Name: @Model.Student.Name</p>
    <p>Surname: @Model.Student.Surname</p>
    <p>Age: @Model.Student.Age</p>
    <p>Mentors:</p>
    @foreach (var mentor in Model.Mentors)
    {
        <p>@mentor.Name @mentor.Surname</p>
    }
    <p>Tecnologies: </p>
    @foreach(var tecnology in Model.Tecnologies)
    { 
        <p></p>@tecnology.Name
    }
       
    <p><a href="~/Home/EditStudent/@Model.Student.Id">Change</a></p>



</body>
</html>
